*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #03071e;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #d00000;
}
.apresentacao {
    display: flex;
    align-items: center;
}


