@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #03071e;
    color: #F6F6F6;
}


.cabecalho{
    padding: 2% 2% 2% 15%;
    background-color: #c9ada7;
}
.cabecalho-menu{
    display: flex;
    gap: 80px;
}
.cabecalho-menu-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #03071e;
    text-decoration: none;
}


.titulo-destaque{
    color: #d00000;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao-conteudo{
    width: 615px;

}

.apresentacao-conteudo-titulo{
 font-size: 36px;
 font-family: 'Krona One', sans-serif;
}

.apresentacao-conteudo-subtitulo{
    margin: 15px;
    font-family: 'Libre Franklin', sans-serif;
    color: #db7c26;
}

.apresentacao-texto{
    margin: 20px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.botao-agende-consulta{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffba08;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.rodape{
    color: black ;
    background-color: #c9ada7;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 400;
}


